Repository DUBANGARCIA/postcss-no-important: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-package-json, toml, actionlint

format:
  priority: 1
  run: bun --bun biome format --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

lint:
  priority: 2
  run: bun --bun biome lint --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

sort-package-json:
  priority: 3
  run: bun sort-package-json {staged_files}
  stage_fixed: true

toml:
  priority: 4
  run: bun --bun taplo fmt {staged_files}
  stage_fixed: true

actionlint:
  priority: 2
  run: actionlint {staged_files}

chore(lefthook): use `mise exec -- bun <cmd>` pattern (BRA-3774)
  lefthook.yaml
Due: format, lint

chore(workspace): add [settings] lockfile/experimental to mise.toml (BRA-3835)
  mise.toml
Due: format, lint, toml

chore(workspace): pin packageManager to bun@1.3.14 (BRA-3836)
  package.json
Due: format, lint

chore(lefthook): drop redundant `eval "$(mise env)"` jobs (BRA-3834)
  lefthook.yaml
Due: format, lint

docs(workspace): add CLAUDE.md with repo policies
  CLAUDE.md
Due: format, lint

chore(config): replace Biome with ESLint + Prettier (BRA-4180)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards-analysis.yml
  .github/workflows/test.yml
  .prettierignore
  .prettierrc
  CHANGELOG.md
  README.md
  WARP.md
  biome.json
  bun.lock
  eslint.config.js
  lefthook.yaml
  package.json
Due: format, lint, actionlint

ci(workspace): replace setup-bun with mise-action and cache mise tools
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: format, lint, actionlint

chore(config): rename commitlint.config.js → .cjs and workflows .yml → .yaml
  .github/workflows/build.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/scorecards-analysis.yaml
  .github/workflows/test.yaml
  commitlint.config.cjs
  package.json
Due: format, lint, actionlint

Path conditions:
  format: any of: *
  lint: any of: *
  sort-package-json: any of: **/package.json
  toml: any of: *.toml
  actionlint: any of: .github/workflows/*.{yml,yaml}
